@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
       

        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">
                    ToDoListe
                </a>
                <div class="dropdown-menu">

                    <a class="nav-link text-dark" asp-area="" asp-controller="ManageTodo" asp-action="Index">ToDoLista</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="ManageTask" asp-action="Index">TaskLista</a>

                </div>
            </div>
        </li>
    }
   
</ul>
